<div class="p-4 border rounded-lg shadow-lg">
  <div class="flex space-x-4">
    <div class="grid place-items-center border p-4 max-w-44 rounded-md max-h-44">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none"
           stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
           class="icon icon-tabler icons-tabler-outline icon-tabler-building">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M3 21l18 0"/>
        <path d="M9 8l1 0"/>
        <path d="M9 12l1 0"/>
        <path d="M9 16l1 0"/>
        <path d="M14 8l1 0"/>
        <path d="M14 12l1 0"/>
        <path d="M14 16l1 0"/>
        <path d="M5 21v-16a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v16"/>
      </svg>
    </div>
    <div class="flex flex-col space-y-3">
      <div class="flex flex-col space-y-2 capitalize">
        <a href="#" class="text-2xl  font-bold">Developer Backend</a>
        <a class="link link-hover link-primary text-sm font-semi-bold flex flex-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
               stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
               class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-up-right">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M17 7l-10 10"/>
            <path d="M8 7l9 0l0 9"/>
          </svg>
          Technopark</a>
      </div>
      <div class="space-x-3">
        <span
          class="whitespace-nowrap rounded-full bg-green-100 px-2.5 py-0.5 text-sm text-green-700">Informatique</span>
        <span
          class="whitespace-nowrap rounded-full bg-blue-100 px-2.5 py-0.5 text-sm text-blue-700">Stage Pré-embauche</span>
      </div>
    </div>
  </div>
</div>
