<section class="bg-gray-50">
  <div class="mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:h-screen lg:items-center">
    <div class="mx-auto max-w-xl text-left lg:mx-0 lg:max-w-lg">
      <h1 class="text-3xl font-extrabold sm:text-5xl lg:leading-tight">
        Discover Internship Opportunities.
        <strong class="font-extrabold text-orange-700 sm:block"> Build Your Future in Morocco.</strong>
      </h1>

      <p class="mt-4 sm:text-xl/relaxed lg:mt-6">
        Find the perfect internship to gain experience and start your career journey. Explore a variety of opportunities across Morocco tailored for aspiring professionals like you.
      </p>

      <div class="mt-8 flex flex-wrap gap-4 lg:justify-start">
        <a
          class="block w-full rounded bg-orange-600 px-12 py-3 text-sm font-medium text-white shadow hover:bg-orange-700 focus:outline-none focus:ring active:bg-orange-500 sm:w-auto"
          href="#"
        >
          Search Internships
        </a>

        <a
          class="block w-full rounded px-12 py-3 text-sm font-medium text-orange-600 shadow hover:text-orange-700 focus:outline-none focus:ring active:text-orange-500 sm:w-auto"
          href="#"
        >
          Sign Up
        </a>
      </div>
    </div>
  </div>
</section>
